.adminUser{margin-top: 10px;}
.company_text{color: #000;}
.account_settings{cursor: pointer;}
a.white {color: white !important;}
a.dark {color: #666666 !important;}
.bg-title .breadcrumb .active {color: #666666 !important;}
tr.clickable-row, .pointer{cursor: pointer;}
.fa-eye {color: #53e69d;}
.fleet-bg {margin: -25px;overflow: hidden;padding: 5px;position: relative;}
