html, body {
    overflow: visible ;
}
.modal{
    width: 100% !important;
}
.form-group.excerpt .CodeMirror {
    height: 130px;
    min-height: 130px;
}

a.selected-status {
    font-weight: bold;
}
a.white {
    color: white !important;
}